<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <ion-button expand="block"  (click)="startScan()">스캔 시작</ion-button>
    <ion-button expand="block"  (click)="stopScan()">스캔 중지</ion-button>
  </div>
</ion-content>
